/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --clr-grey-1: #444444;
  --clr-blue-1: #4285f4;
  --ff-primary: "Urbanist", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
img {
  width: 100%;
}

.btn a {
  display: inline-block;
}
.btn a:visited {
  color: white;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* Navbar */
.navbar {
  padding: 10px 20px;
  position: relative;
}
.nav-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .nav-container {
    align-items: baseline;
    justify-content: space-between;
  }
}
.links {
  display: none;
}
@media screen and (min-width: 768px) {
  .links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .links li {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--clr-grey-1);
  }
}
.hover-links {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 225px;
  z-index: 100;
  padding: 100px 0px 0px 0px;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.hover-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.show {
  transform: translateX(0%);
}
.hover-links li {
  font-size: 20px;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--clr-grey-1);
}
.btn {
  background-color: var(--clr-blue-1);
  color: white;
  border-radius: 50px;
  padding: 50px;
}
.logo {
  font-size: 36px;
  font-weight: 900;
}
.menu {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 110;
  color: var(--clr-grey-1);
}
@media screen and (min-width: 768px) {
  .menu {
    visibility: hidden;
  }
}

.btn-desktop {
  padding: 10px 18px;
}

/* Banner */
.banner {
  padding: 40px 20px;
  text-align: center;
}
.banner h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #4285f4;
}
.banner h2 {
  font-size: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  color: #808080;
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.45%;
  max-width: 900px;
  max-height: 506px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 506px;
  }
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.started-btn {
  padding: 15px 25px;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

/* features */
.features {
  padding: 40px 20px;
}
.features-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.features-container h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 8px;
}
.features-p {
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-grey-1);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.features-inf {
  margin-bottom: 140px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 64px;
}
@media screen and (min-width: 672px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
  }
}
.single-card {
  transition: all 0.3s ease;
  background-color: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  height: 250px;
}
.single-card h2 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 12px;
}
.single-card p {
  font-size: 16px;
  color: #808080;
  line-height: 1.3;
}
.single-card:hover p {
  color: lightgray;
}
.single-card:hover {
  background-color: #4285f4;
  color: white;
  transform: translateY(-8px);
}
.icon {
  background-color: #4285f4;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.single-card:hover .icon {
  background-color: white;
}
.ico {
  font-size: 40px;
  color: white;
}
.single-card:hover .ico {
  color: #4285f4;
}

.extention {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
.extention-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  column-gap: 20px;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 992px) {
  .extention-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.extention-container h1 {
  color: #808080;
  font-size: 32px;
  margin-bottom: 20px;
}
.extention-container p {
  font-size: 20px;
  color: #808080;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.management-btn {
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.webstore {
  width: auto;
}
.extention-info {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Product */
.product {
  padding: 60px 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (min-width: 920px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-img {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.product-info h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 16px;
}
.product-info p {
  font-size: 18px;
  color: #808080;
  margin-bottom: 10px;
}

.comment {
  padding: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: var(--clr-blue-1);
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h1 {
  font-size: 18px;
  margin-bottom: 6px;
}
.profile-info p {
  font-size: 16px;
  font-weight: 500;
}
#my {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;
}

@media screen and (min-width: 1170px) {
  .second-img {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.welcome {
  background-color: #f6f6f6;
}

.footer {
  padding: 30px 10px;
  text-align: center;
}
.social-icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: var(--clr-blue-1);
  justify-content: center;
  margin-bottom: 10px;
}

.term {
  color: var(--clr-blue-1);
  font-weight: 600;
}
a{
  color: inherit;
}
/* a:visited {
  color: var(--clr-blue-1);
} */

.adjust {
  width: auto;
}