/* Main Container */
.cyrene-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040a20;
  text-align: center;
  padding-bottom: 10rem;
}

/* Content Wrapper */
.cyrene-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.cyrene-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 4rem;
  margin-top: 0;
  font-weight: normal;
  font-family: "DM Sans", serif;
}

/* Description */
.cyrene-text {
  color: #ccc;
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Image */
.cyrene-image {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

/* Buttons Container */
.cyrene-buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;
}

/* Button */
.cyrene-button {
  padding: 15px 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cyrene-button:hover {
  background-color: white;
  color: #040a20;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cyrene-text {
    font-size: 1.5rem;
    margin-bottom: 25px;
    padding: 0 1rem;
  }

  .cyrene-buttons {
    gap: 2rem;
  }

  .cyrene-button {
    padding: 12px 25px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .cyrene-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 0 1rem;
  }

  .cyrene-button {
    padding: 10px 20px;
    font-size: 0.85rem;
  }
}

@media (max-width: 1000px) {
  .cyrene-title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .cyrene-title {
    font-size: 2.5rem;
  }
}