@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&display=swap');

/* Main Container */
.erebrus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #040a20;
  background-image: radial-gradient(
    600px 180px at 68% 80%, /* Moves the gradient lower */ 
    rgba(17, 217, 197, 0.1) 1%, 
    rgba(4, 10, 32, 1) 100%, 
    rgba(4, 10, 32, 0.4) 100% 
  );
  backdrop-filter: blur(400px);
  text-align: center;
  padding-bottom: 10rem;
}

/* Title */
.erebrus-title {
  color: #fff;
  margin-bottom: 50px;
  font-size: 4rem;
  margin-top: 0;
  font-weight: normal;
}

/* Description */
.erebrus-text {
  color: #ccc;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Content Wrapper */
.erebrus-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* Buttons Container */
.erebrus-buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Button */
.erebrus-button {
  display: inline-flex;  /* Keeps button inline and centers text */
  justify-content: center;
  align-items: center;
  width: 200px; /* Fixed width */
  height: 50px; /* Fixed height */
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden; /* Ensures text doesn't overflow */
  white-space: nowrap; /* Prevents wrapping */
}


/* Active Buttons */
.erebrus-active-button {
  background-color: #ccc;
  color: black;
}

.erebrus-active-button:hover {
  background-color: white;
}

/* Disabled Button */
.erebrus-disabled-button {
  background-color: transparent;
  color:  #ccc;
  opacity: 1;
}

/* Image */
.erebrus-image {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .erebrus-text {
    font-size: 1.5rem;
    margin-bottom: 25px;
    padding: 0 1rem;
  }

  .erebrus-content {
    flex-direction: column;
    gap: 3rem;
  }

  .erebrus-buttons {
    gap: 2rem;
  }

  .erebrus-button {
    padding: 12px 25px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .erebrus-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .erebrus-buttons {
    gap: 1.5rem;
  }

  .erebrus-button {
    padding: 10px 20px;
    font-size: 0.85rem;
  }
}

@media (max-width: 1000px) {
  .erebrus-title {
    padding: 0 1rem;
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .erebrus-title {
    padding: 0 1rem;
    font-size: 2.5rem;
  }
}