/* General styles */
.mission-container {
  background-color: #040a20;
  color: white;
  text-align: center;
}

.mission-content {
  width: 60%;
  margin: 0 auto;
}

.mission-title {
  font-size: 5rem;
}

.mission-subtitle {
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.mission-text {
  font-size: 1.8rem;
  padding-bottom: 4rem;
  font-weight: 200;
  text-align: left;
}

.mission-text span {
  font-weight: bold;
}

.mission-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mission-image {
  height: 70%;
  width: 70%;
  border-radius: 20px;
}

/* ✅ Responsive Design */
@media (max-width: 1024px) {
  .mission-content {
    width: 80%;
  }

  .mission-title {
    font-size: 4rem;
  }

  .mission-subtitle {
    font-size: 2.2rem;
  }

  .mission-text {
    font-size: 1.5rem;
  }

  .mission-image {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .mission-content {
    width: 90%;
  }

  .mission-title {
    font-size: 3rem;
  }

  .mission-subtitle {
    font-size: 2rem;
  }

  .mission-text {
    font-size: 1.2rem;
  }

}

@media (max-width: 480px) {
  .mission-title {
    font-size: 2.5rem;
  }

  .mission-subtitle {
    font-size: 1.8rem;
  }

  .mission-text {
    font-size: 1rem;
  }

  .mission-image {
    width: 100%;
  }
}
