.achievement {
  color: white;
  font-size: 1rem;
  padding: 10px;
  background-color: transparent; /* Transparent background */
  border-radius: 8px;
  max-width: 200px;
  text-align: left;
}

.achievement h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: white; /* Heading color */
}

.achievement p {
  font-size: 0.9rem;
  margin: 0;
  color: #11D9C5; /* Description color */
}

.success-title {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 5%;
}

@media (max-width: 1000px) {
  .success-title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .success-title {
    font-size: 2.5rem;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.pin-icon {
  animation: bounce 1.5s infinite;
}