@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.elemet {
  background-image: radial-gradient(ellipse at center, yellow 20%, orange 50%, red 80%);
}
.element {
    background: radial-gradient(480px 400px at 100% 58%,#11d9c5, #b7980d7f,#040a206e);
}
.element2 {
    background: radial-gradient(400px 400px at bottom left,#b7980dc8 20%,#11d9c545 50%,transparent 100%);
  }
  .features-card {
    background: radial-gradient(600px 400px at 70% 58%,#11d9c526,transparent 100%);
;
}
.bg-gradient1 {
  background: linear-gradient(360deg, rgba(17, 217, 197, 0.3) 0%, rgba(9, 84, 91, 0.486) 52%, rgba(39, 188, 252, 0.3) 100%);
}
